/* --------PostCard-------- */
.pro-card {
    height: 240px;
}
.pro-card:hover {
    background: #fafafa;
    padding: 1px;
}
.pro-card .btn.btn-warning {
    border-radius: 30px;
    background: #ffb107;
    font-size: 14px;
}
.pro-card .btn-outline-dark{
    padding: 5px 30px;
    border-radius: 30px;
}
.pro-card .btn-outline-dark:hover{
    background: #ffb107;
    border: none;
}
.pro-card a{
    color: black;
    text-decoration: none;
}
.pro-card a:hover{
    color: #ffb107;
}
/* -------------Free card--------------- */
.free-card a{
    color: black;
    text-decoration: none;
}
.free-card a:hover{
 color: #ffb107;
}