/* ------------Comment--------- */
.ant-comment-avatar {
    height: 56x !important;
    width: 56px !important;
    margin-right: 22px !important;
}
.ant-comment-avatar img{
    height: 56px !important;
    width: 56px !important;
}
span.ant-comment-content-author-name {
    font-size: 16px !important;
    font-weight: 600 !important;
    width: 100%;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.85);
}
span.ant-comment-content-author-time {
    font-size: 13px !important;
    color: #47444B !important;
}
.ant-comment-content-detail {
    font-size: 16px !important;
    margin-top: 1em;
}
span.ant-avatar.ant-avatar-circle.ant-avatar-image {
    width: 56px !important;
    height: 56px !important;
}
button.ant-btn.ant-btn-primary {
    float: right;
}
/* --------------------------Choose img--------------------- */
.edit-pro .choose-img {
    height: 20em;
    overflow: hidden;
}
/* -----------------Footer------------- */
.footer {
    background: #47444b;
    margin-top: 3em;
    padding: 3em 0 0 0;
    color: white;
}
.footer p.text {
    margin-top: 3em;
    font-size: 15px;
    margin-left: 17px;
}
.footer ul {
    margin-top: 26px;
    list-style: none;
    color: white;
    padding-left: 0 !important;
}
.footer ul.contact-us img {
    height: 1.5em;
    margin-right: 1em;
}
.footer ul.contact-us li {
    margin-bottom: 6px;
}
.footer .b-footer {
    background: #ffb000;
    text-align: center;
    color: #47444B;
    font-size: 15px;
    padding: 7px;
    margin-top: 3em;
    font-weight: 500;
}
.footer a ,.footer h6{
    color:white !important;
    text-decoration: none !important;
}
