.header nav {
    filter: drop-shadow(0px 0px 3px Gainsboro);
}
.header a.nav-link {
    margin: 0 17px;
}
.header a.nav-link {
    font-size: 14px;
}
.header .form-control {
    font-size: 14px;
    border-radius: 30px;
}
.header button.btn.btn-outline-success {
    margin: 0 10px;
    background: #FFB000;
    border-radius: 30px;
    padding: 5px 30px;
    border: none;
    font-size: 14px;
}
.header button.login.btn.btn-outline-success {
    background: black;
    color: #FFB000;
}
.header button.register.btn.btn-outline-success {
    background: white;
    border: solid 1px #FFB000;
    color: #47444B;
}
.header .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: rgb(255 176 0) !important;
}
.header .dropdown-menu.show {
    font-size: 14px;
}
.header .dropdown-menu {
    margin-top: 1.2em !important;
}
.header .dropdown-item:hover{
    background-color: #ffb000 !important;
}
.header form.d-flex {
    width: 30em;
}
.freelancer .navbar-nav {
    margin: auto;
}
/* ---------------Card-------------- */
.card-service button.btn.btn-secondary {
    background: #EEEEEE;
    padding: 5px 30px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-right: 2em;
    color: black;
}
.card-service .cover-post{
    height: 230px;
    overflow: hidden;
}
.cover-post img {
    width: 100%;
    height: 100%;
}
.card-service a {
    color: #000000;
    text-decoration: none;
}
/* -------------------BsCard--------------- */
.bs-card button.btn.btn-warning {
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 30px;
}
.bs-card ul {
    font-size: 13px;
    margin: 1em 0;
}
.bs-card .like ,.bs-card .comment{
    background: #EEEEEE;
    overflow: hidden;
    padding: 4px 13px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 9px;
}
.bs-card span.deadline {
    font-size: 9px;
    overflow: hidden;
    float: right;
}
.bs-card ul.slick-dots.slick-dots-bottom {
    bottom: 3px;
}
.bs-card .ant-carousel .slick-dots li button {
    width: 8px !important;
    height: 8px !important;
    background: #C4C4C4 !important;
    border-radius: 50% !important;
    opacity: 1 !important;
}
.bs-card .card-cover{
    height: 39vh;
    color: #fff;
    line-height: 160px;
    text-align: center;
}
/* ----------------------BsCard && Card----------------- */
.bs-card .bs-card-title ,.bs-card .bs-card-des ,.card-service .free-card-title ,.card-service .free-card-des{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: 14px;
}
.bs-card .bs-card-des{
    -webkit-line-clamp: 8 !important;
}
.card-service .free-card-des{
    -webkit-line-clamp: 3 !important;
}