/* -----------Home Page------------- */
.first-page .owl-carousel .owl-nav .item{
    position: absolute;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    font-size: 2em;
    top: 20% !important; 
}
.first-page .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
}
.first-page .categories{
    width: 100%;
    height: 280px;
}
.first-page .owl-carousel .owl-nav button.owl-prev  {
    background: #FFB000;
    color: black;
    border: none;
    padding: 10px !important;
    font: inherit;
    border-radius: 100rem;
    margin-top: -175px;
    float: left;
    margin-left: -40px;
}
.first-page .owl-carousel .owl-nav button.owl-next{
    background: #FFB000;
    color: black;
    border: none;
    padding: 10px !important;
    font: inherit;
    border-radius: 100rem;
    margin-top: -175px;
    float: right;
    margin-right: -40px;
}
.first-page .owl-carousel .owl-nav button.owl-next:hover{
    background: #ffc038;
    font-size: 20px;
    color: black;
}
.first-page .owl-carousel .owl-nav button.owl-prev:hover{
    background: #ffc038;
    font-size: 20px;
    color: black;
}